/* Estilo del encabezado */

.App-header {
  background-color: #222;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.App-header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  border-bottom: 2px solid #fff;
}

/* Estilo de las secciones */

.App main section {
  margin-top: 80px;
}

.App main section h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 20px;
}

.App main section p {
  margin: 0 0 10px;
}

.App main section ul {
  margin: 0;
  padding: 0;
}

.App main section ul li {
  margin: 0 0 5px;
  padding: 0;
  list-style: none;
}

.App main section ul li:before {
  content: "•";
  margin-right: 5px;
}

/* Estilo de los enlaces */

a {
  color: #0077b5;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Estilo del footer */

footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

